html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before,*:after{
  box-sizing: border-box;
}
.clearFloat{
  clear: both;
}
html, body {
  height: 100%;
  margin: 0;
}
a{
  text-decoration: none;
}
.wrap{
  max-width: 1000px;
  margin: 0 auto;
}
.top{
  margin-top: 10px;
}
.top ul{
  float: right;
}
.top li{
  display: inline-block;
  margin-right: 10px;
  padding-top: 10px;
}
.gep-fb{
  border-right: 2px solid	#FFD1A4;
  padding: 10px;
}
.gep-fb span{
  padding-left: 3px;
  color: #4460a0;
  font-weight: bold;
}
.gep-line span{
  padding-left: 3px;
  color: #06c755;
  font-weight: bold;
}
.header h4 a{
  border-radius: 50%;
  background: #000;
  background-image: url(https://github.com/yan-tingciou/goldeggphone/blob/main/images/3.png?raw=true);
  background-repeat: no-repeat;
  width: 97px;
  height: 100px;
  display: inline-block;
  text-indent: 105%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 15px;
}
.header h4 a:hover{
  transition: all .8s;
  border-radius: 20%;
}
.header h4{
  float: left;
}
.menu{
  float: right;
  text-align: center;
  margin-top: 20px;
  z-index: 2;
  position: relative;
}
.menu > li > a{
  display: block;
  padding: 20px;
}
.menu a{
  color: #000;
}
.menu > li{
  float: left;
  width: 120px;
}
.menu > li > a:hover{
  border-bottom: 3px #FFD1A4 solid;
  color: #FFD1A4;
  cursor: pointer;
}
.item a{
  width: 120px;
  display: block;  
}
.item a:hover{
  color: #FFD1A4;
  cursor: pointer;
  background: #000;
}
.item li{
  width: 120px;
  line-height: 2;
  text-align: center;
  background: rgb(225, 225, 225, .5);
}
.item{
  display: none;
  position: absolute;
  z-index: 2;
}
.item.active{
  display: block;
}
.news{
  height: 400px;
}
.service{
  height: 300px;
}
.price{
  height: 800px;
}
.swiper {
  max-width: 1024px;
  position: relative;
}
.swiper-wrapper{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.swiper-slide{
  display: flex;
}
.swiper-slide img{
  opacity: 40%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  aspect-ratio: 5/2;
}
.swiper h2{
  position: absolute;
  top: 160px;
  display: block;
  width: 100%;
  background: rgba(213, 158, 111, .5);
  padding: 25px;
  z-index: 2;
  font-size: 30px;
}
#iphone{
  font-size: 28px;
  text-align: center;
  font-family: Microsoft JhengHei;
  border-bottom: 3px solid #f6a16a;
  padding-bottom: 5px;
}
.price span{
  padding: 8px 8px 0px 8px;
  border-top: 3px solid #f6a16a;
  border-right: 3px solid #f6a16a;
  border-left: 3px solid #f6a16a;
}
table td{
  border: 1px solid grey;
  background: #eadbd1;
  font-size: 14px;
  text-align: center;
  color: #000;
}
table th{
  border: 1px solid;
  background: #e79e6f;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 5px;
}
table{
  margin: 0 auto;
  margin-top: 8px;
  line-height: 1.5;
  font-family: sans-serif;
}
.about{
  margin: 600px 0px 20px 25px;
}
.about > ul{
  display: flex;
}
.about > ul > li{
  width: 47%;
  line-height: 1.7;
}
.contact h3{
  font-size: 28px;
}
.about h4{
  padding-top: 10px;
  font-size: 20px;
}
.footer{
  padding: 15px 0px;
  background: #DCDCDC;
  /*margin-top: 990px; 隨footer高度需做調整*/
}
.footer h3{
  text-align: center;
}
.home img{
  display: none;
}
#gotop{
  opacity: 60%;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80px;
}
#gotop:hover{
  opacity: 80%;
}

